.logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo__image {
	width: 55px;
}

/* Временное решение */
.logo__title {
	color: #000;
	font-family: Nunito;
	font-size: 17.518px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
