.selected-chip {
  background-color: #e8def8 !important;
  border: none !important;
  position: relative !important;
  padding-left: 18px !important;
}

.selected-chip::before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  background-image: url('~/shared/assets/selected-chip-icon.svg');
  top: 0.4rem;
  left: 0.5rem;
}
